/AtacarComandoTest.class
/AyudaTest.class
/ComandoInventarioTest.class
/DarComandoTest.class
/DiagnosticoTest.class
/HablarComandoTest.class
/IrComandoTest.class
/MirarComandoTest.class
/NarradorTest.class
/PonerComandoTest.class
/SoltarComandoTest.class
/TomarTest.class
/UsarItemComandoTest.class
