/InventarioTest.class
/ItemTest.class
/JugadorTest.class
/RoomTest.class
/SalidaTest.class
/AtacarComandoTest.class
/MirarComandoTest.class
/SitioTest.class
/TomarTest.class
/DiagnosticoTest.class
/PonerComandoTest.class
