/AtacarConComando.class
/AyudaComando.class
/Comando.class
/DarComando.class
/DefaultComando.class
/DiagnosticoComando.class
/GuardarComando.class
/HablarComando.class
/InfoComando.class
/InventarioComando.class
/IrComando.class
/MirarComando.class
/MovimientosComando.class
/PonerComando.class
/Puntuacion.class
/SalirComando.class
/SoltarComando.class
/TomarComando.class
/UsarItemComando.class
/CargarComando.class
