/Character.class
/Inventario.class
/Item.class
/Jugador.class
/Mapa.class
/NPC.class
/Room.class
/Salida.class
/Sitio.class
/ActionEndGame.class
/Comando.class
/Diagnostico.class
/Endgame.class
/InputOutput.class
/Puntuacion.class
/Trigger.class
/UsarItem.class
/Charla.class
/ComandoInventario.class
/Movimiento.class
/UsarItemTrigger.class
/AtacarConComando.class
/MirarComando.class
/Tomar.class
/IrComando.class
/InfoComando.class
/PonerComando.class
/DarConComando.class
/HablarConComando.class
/Soltar.class
/SoltarComando.class
/HablarComando.class
/UsarItemComando.class
/DarComando.class
/AyudaComando.class
/DefaultComando.class
/DiagnosticoComando.class
/InventarioComando.class
/LocationEndGame.class
/MovimientosComando.class
/Narrador.class
/TomarComando.class
