/Character.class
/Inventario.class
/Item.class
/Jugador.class
/Mapa.class
/NPC.class
/Room.class
/Salida.class
/Sitio.class
/ActionEndGame.class
/Comando.class
/Diagnostico.class
/Endgame.class
/InputOutput.class
/Puntuacion.class
/Trigger.class
/UsarItem.class
/Charla.class
/ComandoInventario.class
/Movimiento.class
/UsarItemTrigger.class
/AtacarConComando.class
/MirarComando.class
/Tomar.class
/IrComando.class
